html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
  font-size: 16px;
}
.header{
  height: 50px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px #dadada;
}
.header__body{
  margin: auto;
  width: 1370px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height:100%;
}
.content__header{
  color: #3072C4;
  border-bottom: 1px solid #F2F2F2;
}
.content__header a{
  text-decoration: none;
  color:inherit;
}
.header__body__menu{
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  margin:0;
  height: 100%;
}
.header__body__menu>li ul li{
  list-style-type: none;
  border:0px solid white;
  padding:10px 10px;
}
.header__body__menu>li ul{
  display: none;
  padding: 10px 0;
  border:0px solid white;
  border-left: 0px solid grey;
  position: absolute;
  top:50px;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 0 6px 10px #dadada;
  width:210px;
}
.header__body__menu li:hover{
  background-color:#E5E5E5;
  cursor: pointer;
}
.header__body__menu>li:hover ul,.header__body__menu>li ul:hover{
  display: block;
}
.header__body__menu .header__body__menu__sublist__sep{
  border-top: 1px solid #E5E5E5;
  font-size:14px;
  padding-bottom: 0;
}
.text-gray{
  color:rgb(160, 160, 160);
}
.header__body__menu .header__body__menu__sublist_sep:hover{
  background-color: #FFFFFF;
  cursor: auto;
}
.header__body__menu>li{
  list-style-type: none;
  display: flex;
  height: 100%;
  justify-content: start;
  align-items: center;
}
.header__body__menu>li span{
  margin: 10px;
}
.header__body__menu__end::before{
  content: "";
  display: inline-block;
  width:1px;
  line-height: 70%;
  height: 70%;
  background-color: rgb(230, 230, 230);
}
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #f4f4f4;
}
.wrap {
  position: relative;
  min-height: 100%;
}
.content {
  padding: 45px;
  font-size: 16px;
  margin: 20px auto ;
  background: #FFFFFF;
  width: 1280px;
  min-height: 525px;
  color: #333333;
  box-shadow: 0 0 10px #dadada;
  border-top:2px solid #1e79be;
}
.content__body__header{
  font-size:22px;
}
.content__body [type = "checkbox"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline:none;
}
.content__body [type = "checkbox"]:checked:focus::after{
  border-color:rgb(160, 160, 160);
}
.content__body [type = "checkbox"]:focus::after{
  border-color:#3072C4;
}
.content__body [type = "checkbox"]::after{
  display: inline-block;
  content: "";
  border:1px solid rgb(160, 160, 160);
  border-radius: 3px;
  width: 16px;
  height: 16px;
  color:white;
  background: center no-repeat url(../img/check.svg);
  margin: 0 5px 20px 0;
}

.content__body [type = "checkbox"]:checked::after{
  background-color:#3072C4 ;
  border-color:#3072C4;
}
.content__body [type = "checkbox"]:hover::after{
  background: #ebebeb;
}
.content__body [type = "checkbox"]:active::after{
  background: center no-repeat url(../img/check.svg) hsla(213, 61%, 48%, 0.5);
  border-color:rgb(160, 160, 160);
}
.content__body [type = "checkbox"]:checked:hover::after{
   background: center no-repeat url(../img/check.svg) #3072C4 ;
   box-shadow: inset  0 0 5px rgb(160, 160, 160);
}
.content__body [type = "checkbox"]:checked:active::after{
  background: hsla(213, 61%, 48%, 0.308);
}
.content__body [type = "checkbox"]+label{
  display: inline-block;
  margin:10px 0 ;
}
.content__body [type = "checkbox"]+label p{
  margin:5px 0;
}
.footer {
  right: 0;
  line-height: 20px;
  height: 70px;
  background: #f4f4f4;
  width: 1370px;
  margin: auto;
  padding-top: 22px;
  display: flex;
  align-items: flex-start;
}
.footer p{
  margin:0 0 0 8px;
  font-size:14px;
  color: #A1A1A1;
}
.button{
  border:none;
  outline:none;
  cursor: pointer;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
}
.content__button{
  background:#3072C4 ;
  width:160px;
  margin:20px 0;
  color: white;
}
.button:active{
  box-shadow: inset  0 0 10px rgb(160, 160, 160);
}
.pop-up-container{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display:none;
}
.pop-up-container:target{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop-up{
  width:500px;
  box-shadow: 0 0 20px #e6e6e6;
}
.pop-up__body{
  background-color: white;
  padding:20px;
}
.pop-up__header{
  font-size:22px;
  display: grid;
  grid-template-columns:90% 10% ;
  height: 30px;
  margin: 10px 0;
}
.pop-up__header__exit{
  background:center no-repeat url(../img/close.png);
  display: inline-block;
  width: 16px;
  height: 16px;
  margin:auto;
  cursor: pointer;
}
.pop-up__footer{
  padding:20px;
  background-color: #e9e9e9
}
.pop-up__content{
  margin-top: 20px;
}
.pop-up__footer_button{
  background-color:white;
}
.pop-up__content [type="checkbox"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline:none;
}
.pop-up__content [type="checkbox"]+label{
  display: inline-block;
  width:40px;
  border:1px solid rgb(160, 160, 160);
  border-radius: 10px;
  height: 20px;
  vertical-align:middle;
}
.pop-up__content__checkbox-roller{
  position: relative;
  right: 1px;
  width:20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15);
  margin:auto 0;
  cursor: pointer;
}
.pop-up__content [type="checkbox"]+label:active .pop-up__content__checkbox-roller{
  width:25px;
}
.pop-up__content [type="checkbox"]:checked+label:active .pop-up__content__checkbox-roller{
  left:15px;
}
.pop-up__content [type="checkbox"]:checked+label .pop-up__content__checkbox-roller{
  left: 20px;
  border-color: #3072C4;
}
.pop-up__content__checkbox-roller:hover{
  background-color: rgb(229, 229, 229);
  transition: 0.2s ease-in;
}
.pop-up__content [type="checkbox"]:checked+label{
  background:#3072C4 ;
  border-color: #3072C4;
}
.pop-up__content__checkbox-label{
  display: inline-block;
  height: 22px;
  margin:auto;
  vertical-align:middle;
}