html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
}
.widget{
  display: flex;
  flex-direction: row-reverse;
  width: 150px;
  height: 30px;
}
svg{
  width:30px;
  height: 30px;
}
[type="radio"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
[type="radio"]+label{
  stroke:rgb(197,60,0);
  fill: rgb(255, 255, 255);
}

[type="radio"]+label:hover{
  fill: rgb(255,230,75);
}
[type="radio"]+label:hover~label{
  fill: rgb(255,230,75);
}
[type="radio"]:checked~[type="radio"]+label{
  fill: rgb(255,112,0);
}
[type="radio"]:checked+label svg{
  fill: rgb(255,112,0);
}